nltk==3.7
dm-haiku==0.0.9
einshape==1.0.0
dm-tree==0.1.7
parameterized==0.8.1
nose==1.3.7
ml-collections==0.1.1
optax==0.1.4
chex==0.1.5
more-itertools==9.0.0
tensorflow==2.9.1
tensorflow-datasets==4.6.0
